/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/components/Login.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
/* Login.module.css */

.Login_loginContainer__m2HwC {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 180vh; /* Adjust based on your layout */

}
  
  .Login_inputField__uQUvH {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .Login_inputField__uQUvH:focus {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .Login_loginContainer__m2HwC h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: #2d3748; /* Tailwind's gray-800 */
    
  }
  
  .Login_loginContainer__m2HwC form {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    scroll-behavior: smooth; 
  }
  
  .Login_loginContainer__m2HwC label {
    margin-bottom: 0.25rem;
    font-weight: 500;
    color: #4a5568; /* Tailwind's gray-700 */
    font-size: 0.875rem; 
  }
  
  .Login_loginContainer__m2HwC button {
    margin-top: 1rem;
  }
