/* Login.module.css */

.loginContainer {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 180vh; /* Adjust based on your layout */

}
  
  .inputField {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .inputField:focus {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .loginContainer h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: #2d3748; /* Tailwind's gray-800 */
    
  }
  
  .loginContainer form {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    scroll-behavior: smooth; 
  }
  
  .loginContainer label {
    margin-bottom: 0.25rem;
    font-weight: 500;
    color: #4a5568; /* Tailwind's gray-700 */
    font-size: 0.875rem; 
  }
  
  .loginContainer button {
    margin-top: 1rem;
  }