/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/components/Register.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* Register.module.css */
.Register_registerContainer__xaCXc {
  max-width: 600px; /* Increase the max width of the form container */
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Register_inputField__fBouj {
  width: 80%; /* Make input fields smaller, adjust as needed */
  margin: 1rem 0; /* Add some margin for spacing */
}
